table.Gretzky th, tr.Gretzky td:first-child {
	background-color:rgba(255, 255, 0, .5);
} /* yellow */

/* D2 */

table.Eastern th, tr.Eastern td:first-child, table.Hasek th, tr.Hasek td:first-child {
        background-color:rgba(255, 0, 0, .5);
} /* red */

table.Western th, tr.Western td:first-child, table.Brodeur th, tr.Brodeur td:first-child, table.Price-Murray th, tr.Price-Murray td:first-child {
        background-color:rgba(0, 255, 0, .5);
} /* green */

table.Roy th, tr.Roy td:first-child {
	background-color:rgba(0, 0, 255, .5);
} /* blue */

/* D3 */

table.Howe th, tr.Howe td:first-child {
        background-color:rgba(0, 255, 255, .5);
} /* teal */

table.Lemieux th, tr.Lemieux td:first-child {
        background-color:rgba(255, 0, 255, .5);
} /* magenta */

table.Dionne th, tr.Dionne td:first-child{
        background-color:rgba(128, 0, 0, .5);
} /* maroon */

table.Francis th, tr.Francis td:first-child {
	background-color:rgba(0, 128, 0, .5);
} /* forest green */

table.Yzerman th, tr.Yzerman td:first-child {
	background-color:rgba(0, 0, 128, .5);
} /* indigo */

table.Jagr th, tr.Jagr td:first-child {
	background-color:rgba(128, 128, 0, .5);
}

table.Messier th, tr.Messier td:first-child, table.Chelios th, tr.Chelios td:first-child {
	background-color:rgba(128, 0, 128, .5);
}

table.Sakic th, tr.Sakic td:first-child, table.Leetch th, tr.Leetch td:first-child {
	background-color:rgba(0, 128, 128, .5);
}

table.Esposito th, tr.Esposito td:first-child, table.Niedermayer th, tr.Niedermayer td:first-child {
	background-color:rgba(0, 0, 64, .5);
}

table.Recchi th, tr.Recchi td:first-child, table.Lidstrom th, tr.Lidstrom td:first-child {
	background-color:rgba(64, 0, 0, .5);
}

table.Coffey th, tr.Coffey td:first-child, table.Orr th, tr.Orr td:first-child {
	background-color:rgba(128, 128, 128, .5);
}

table.Bourque th, tr.Bourque td:first-child {
	background-color:rgba(0, 64, 0, .5);
}

table.Pronger th, tr.Pronger td:first-child {
	background-color:rgba(0, 0, 0, .5);
}
