select {
	margin:10px;
}

/* tables */
table.tablesorter thead tr .header {
	background-image: url('../images/tablesorter/bg.gif');
	background-repeat: no-repeat;
	background-position:center right;
        cursor: pointer;
}
table.tablesorter thead tr .headerSortUp {
        background-image: url('../images/tablesorter/asc.gif');
}
table.tablesorter thead tr .headerSortDown {
        background-image: url('../images/tablesorter/desc.gif');
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
	background-color: #8dbdd8;
}

table.tablesorter {
	table-layout:fixed;
	width:70%;
	background-color:rgba(255, 255, 255, 1);
}

tr {
	border:1px solid black;
	background-color:White;
}

th {
	border:1px solid black;
	padding:5px 0px;
	text-align:center;
	background-color:rgba(100, 100, 100, .5);
}

td {
	border:1px solid black;
	text-align:center;
	overflow:hidden;
	font-size:75%;
	padding:3px;
	height:31px;
}

tr.notactive {
	background-color:rgba(250, 250, 250, .5);
}

tr.div1 {
	background-color:rgba(205, 173, 0, .5);
}

tr.div2 {
	background-color:rgba(128, 128, 128, .5);
}

tr.div3 {
	background-color:rgba(205, 127, 50, .5);
}

tr.div4 {
	background-color:rgba(128, 128, 192, .5);
}

@media (max-width: 767px) {
	html {
		margin: auto;
		min-width: 500px;
	}

	table.tablesorter {
		width: 90%;
	}	
}
