jquery/bracket
scripts/__pycache__
scripts/DiscordBot/__pycache__
.htaccess
*.pyc
config.json
scripts/DiscordBot/nohup.out
node/nohup.out
nohup.out
scripts/DiscordBot/*.pickle

# react
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
react/node_modules
/node_modules
react/.pnp
/.pnp
.pnp.js

# testing
react/coverage
/coverage

# production
react/build
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

