# Python excess stuff
**/__pycache__/
*.pyc

# Personal info
config.json
scripts/yahoo_auth.json
scripts/Registration/auth.json
scripts/Registration/tokens/*

# react
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
react/node_modules
/node_modules
react/.pnp
/.pnp
.pnp.js

# testing
react/coverage
/coverage

# production
react/build
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

