.container {
  padding: 10px;
  border-radius: 4px;
  min-width: 250px;
}

.darkModeLabel {
  font-size: 14px;
}

.segmentedControlRoot {
  border-radius: 4px;
}

.segmentedControlIndicator {
  border-radius: 4px;
}

.segmentedControlLabel {
  font-size: 14px;
}

.teamLabel {
  font-size: 14px;
}

.teamOption {
  font-size: 14px;
}

.teamLogo {
  object-fit: contain;
}

.teamOptionGroup {
  width: 100%;
}
