td.D1 {
  background-color: rgba(205, 173, 0, 0.5);
}
td.D2 {
  background-color: rgba(92, 92, 92, 0.5);
}
td.D3 {
  background-color: rgba(205, 127, 50, 0.5);
}
td.DInactive {
  color: rgba(128, 128, 128, 0.5);
  font-style: italic;
}
  
table.ui.table {
  border-collapse: collapse;
}
  
tr.highlight {
  outline: 1px solid rgb(175, 175, 175);
}
  
