.header-link {
  text-decoration: none;
  color: inherit;
  transition: opacity 0.2s ease;
}

.header-link:hover {
  opacity: 0.7;
}

.playoff-odds-link {
  text-decoration: none;
  color: inherit;
  font-size: 1.25rem;
  transition: opacity 0.2s ease;
}

.playoff-odds-link:hover {
  opacity: 0.7;
}

.team-link {
  color: inherit;
  text-decoration: none;
  transition: all 0.2s ease;
}

.team-link:hover {
  text-decoration: none;
  font-weight: bold;
}
