.header {
  height: 3.5rem;
  margin-bottom: 0;
  background-color: var(--mantine-primary-color-6);
  color: white;
  position: sticky;
  top: 0;
  z-index: 100;
}

.inner {
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  display: block;
  line-height: 1;
  padding: 0.5rem 0.75rem;
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: white;
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;
  transition: background-color 150ms ease;

  &:hover {
    background-color: var(--mantine-primary-color-7);
  }
}

.linkLabel {
  margin-right: 0.3125rem;
}

.themeControls {
  padding: 0.75rem;
  min-width: 200px;
}
