.headerTreatment {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.headerBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 0;
}

.teamLogoBackground {
  position: absolute;
  top: 50%;
  right: calc(var(--mantine-spacing-md) - 20px);
  transform: translateY(-50%);
  height: 180%;
  opacity: 0.25; 
  z-index: 1;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  
  img {
    height: 100%;
    width: auto;
    object-fit: contain;
  }
}

:global {
  .nav-link:hover span {
    color: inherit !important;
  }
}

.primaryBackground {
  flex: 3;
  height: 100%;
}

.secondaryBackground {
  flex: 1;
  height: 100%;
  transform: skew(-20deg);
  transform-origin: top right;
  margin-left: -5px;
}

.lightThemeHeaderBackground {
  .primaryBackground {
    background-color: #000000;
  }
  
  .secondaryBackground {
    background-color: #898989;
  }
}

/* Dark theme: dark gray with lighter gray secondary stripe with a black logo */
.darkThemeHeaderBackground {
  .primaryBackground {
    background-color: #333333;
  }
  
  .secondaryBackground {
    background-color: #666666;
  }
}
