.banner {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 20px;
  min-height: 200px;
  background-color: var(--banner-background-color, #ce1126);
  box-shadow: 0 8px 16px 4px rgba(0, 0, 0, 0.4);
  padding-bottom: 15px;
  width: var(--banner-width, 285px);
}

.banner::after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 0;
  height: 0;
  /* Use the dynamic banner width to calculate half the width */
  border-left: calc(var(--banner-width) / 2) solid transparent;
  border-right: calc(var(--banner-width) / 2) solid transparent;
  border-top: 30px solid var(--banner-background-color, #ce1126);
}

.title {
  width: 100%;
  text-align: center;
  color: var(--logo-background-border-color, #ffffff);
  font-family: 'Anton', sans-serif;
  font-weight: var(--title-font-weight, normal);
  font-size: var(--title-font-size, 2.25rem);
  letter-spacing: var(--title-letter-spacing, 2px);
  text-transform: uppercase;
  padding: 10px 5px;
  line-height: 1;
  text-shadow: var(--text-shadow, 1px 1px 3px rgba(0, 0, 0, 0.5));
}

.logoContainer {
  width: 100%;
  padding: 10px 0;
  background-color: var(--logo-background-color, #1e2c56);
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 3px solid var(--logo-background-border-color, #ffffff);
  border-bottom: 3px solid var(--logo-background-border-color, #ffffff);
}

.listContainer {
  text-align: center;
  padding: 10px 0;
}

.list {
  width: 80%;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  display: inline-block;
}

.listItem {
  color: var(--logo-background-border-color, #ffffff);
  font-family: 'Anton', sans-serif;
  font-size: var(--item-font-size, 1.5rem);
  letter-spacing: var(--item-letter-spacing, 0.75px);
  padding: 5px 20px;
  line-height: 1.2;
  text-align: left;
  width: 100%;
  display: block;
  text-shadow: var(--text-shadow, 1px 1px 3px rgba(0, 0, 0, 0.5));
  transition: background-color 0.3s ease, color 0.3s ease, text-shadow 0.3s ease;
  cursor: default;
}

.highlighted {
  background-color: rgba(255, 255, 0, 1);
  color: black;
  text-shadow: none;
}

.hoverable span {
  cursor: default;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease;
}
